@{
    ViewData["Title"] = "Home Page";

    //, new { folder = "value" }
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <label for="folder">Folder:</label><br>
    <input type="text" id="folder" name="folder" value="~/Home"><br>
    TextBoxFor<CheckFolderParam, FolderName>()
    <a class="btn btn-primary" href="Url.Action("CheckFolder","Home", new{folder=folder})">Check folder</a>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
